<nav>
    <div class="container">
        <div class="nav-content">
            <div class="page-logo">
                <h2>yourPersonalPage</h2>
            </div>
            <div class="page-info">
                <div class="specific-user">
                    <p><%= username %></p>
                </div>
                <div class="logout-link">
                    <a href="/users/logout" class="logout">Logout</a>
                </div>
            </div>
        </div>
    </div>
</nav>
