<div class="container">
    <div class="form-container">
        <div class="form-heading">
            <h2>Login</h2>
        </div>
        <%- include('./partials/messages'); %>
        <form action="/users/login", method="POST">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="email">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Password</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="enter password" name="password">
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary register-btn">Login</button>
            </div>
        </form>
    </div>
</div>