<main>
    <div class="container">
        <div class="card-container">
            <div class="card text-center">
               
                <div class="card-body">
                  <h5 class="card-title">Welcome!</h5>
                  <p class="card-text">This is our landing page.Sign up to expreance more.</p>
                  <a href="/users/register" class="btn btn-primary">Register</a>
                  <a href="/users/login" class="btn btn-success">Login</a>
                </div>
                
              </div>
        </div>
    </div>
</main>